@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
$primary-font : "Familjen Grotesk", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}
.global-container{
    height: 200vh;
}
.page-container{
    padding: 50px 140px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}